@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/* Stilizarea meniului principal */
#main-menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: #a9a9a9;

    font-size: 0;
}

.menu-item {
    position: relative; /* Asigură poziționarea corectă a submeniurilor */
    display: inline-block;
    text-transform: uppercase;

    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-size: 16px;

    border-left: solid 1px white;
}

.menu-link {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;

    transition: background-color 0.3s;
}

.menu-link i {
    margin-right: 10px;
}

.menu-item > .menu-link:hover {
    background-color: #ffa500;
    text-decoration-line: underline;
}

/* Stilizarea submeniului */
.submenu {
    list-style-type: none;
    display: none;
    position: absolute; /* Poziționat absolut în raport cu elementul părinte */
    top: 100%;
    left: 0;
    padding: 0;
    background-color: #333;
    z-index: 1; /* Asigură că submeniul este peste restul conținutului */
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.8); 
}

.submenu-item {
    width: 160px;
    background-color: #add8e6;

    transition: background-color 0.3s;
}

.submenu-item a::before {
    content: "> ";
}

.submenu-item:hover {
    background-color: #808080;
}

.submenu-item a {
    display: block;
    padding: 10px 15px;
    text-decoration: none;
    color: black;
}

.menu-item:hover > .submenu {
    display: block;
}


/* Stilizarea paginii */
p {
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #370050;
}

h1 {
    text-decoration: solid overline underline 2px;
}

footer a {
    color: #17AB33;
    text-transform: uppercase;
    text-decoration: none;
}

#contacts i {
    width: 25px; 
    color: red
}

#back-to-top-button {
    position: fixed; 
    right: 10px; 
    bottom: 10px; 
    text-align: right;

    font-style: italic;
    text-decoration: underline;
    font-weight: bold;
}

footer {
    text-align: center;
}

footer p {
    text-align: center;
}

footer button::after {
    content:"<-";
}

#skills li::marker {
    content: "✓";
}

#skills ul:nth-of-type(2) li::marker {
    content: url(images/check-mark.png);
}

#TableInTable table tr:nth-child(1) td:nth-child(1) {
    background-color: #17AB33;
}

#TableInTable table tr:nth-child(3) td:nth-child(even) {
    background-color: yellow;
}

#TableInTable table tr:nth-child(2) td:nth-child(2) {
    background-color: #17AB33;
}

